<div class="product-detail">
  <span>Color</span>
  <div class="product-colors">
    <% product.details.color.split("/").forEach((productColor) => { %>
    <div
      class="product-color"
      style="
        background-color: <%= productColor.toLowerCase() %>;
        border-radius: 50%;
        height: 20px;
        width: 20px;
        border: 1px solid rgba(0, 0, 0, 0.144);
      "
    ></div>
    <% }) %>
  </div>
</div>
<div class="product-detail">
  <span>Frequency Response</span>
  <span><%= product.details.frequencyResponse %></span>
</div>
<div class="product-detail">
  <span>Wireless</span>
  <span><%= product.details.wireless %></span>
</div>
<div class="product-detail">
  <span>Microphone</span>
  <span><%= product.details.microphone %></span>
</div>
