<header role="navigation"><nav aria-label="Main site navigation" class="navbar position-fixed navbar-expand-lg navbar-light header">
  <a class="navbar-brand logo" href="/" aria-label="Go to homepage">
    <svg viewBox="0 0 48 48" class="logo-svg" fill="#ffffff" role="img" aria-hidden="true">
      <g id="SVGRepo_bgCarrier" stroke-width="0" />
      <g
        id="SVGRepo_tracerCarrier"
        stroke-linecap="round"
        stroke-linejoin="round"
      />
      <g id="SVGRepo_iconCarrier">
        <defs>
          <style></style>
        </defs>
        <path
          class="a"
          d="M10.57,4.5l7.85,2.87-.05,27.16L28.8,28.48l-5.2-2.8L20.32,17.5,37.2,23.38l.23,9L18.37,43.5,10.65,39Z"
        />
      </g>
    </svg>
    <div class="logo-text">itSt<span>o</span>ck</div>
  </a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto page-links">
      <li class="nav-item active">
        <a class="nav-link header-link" href="/">
          <svg aria-hidden="true" focusable="false" fill="#ffffff" class="svg-links-1" viewBox="0 0 24 24">
            <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
            <g
              id="SVGRepo_tracerCarrier"
              stroke-linecap="round"
              stroke-linejoin="round"
            ></g>
            <g id="SVGRepo_iconCarrier">
              <path d="M10 20v-6h4v6h5v-8h3L12 3 2 12h3v8z"></path>
            </g>
          </svg>
          <span>Home</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link header-link" href="/builds/builder"
          ><svg aria-hidden="true" focusable="false" viewBox="0 0 16 16" class="svg-links-2">
            <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
            <g
              id="SVGRepo_tracerCarrier"
              stroke-linecap="round"
              stroke-linejoin="round"
            ></g>
            <g id="SVGRepo_iconCarrier">
              <path
                d="M10.3 8.2l-0.9 0.9 0.9 0.9-1.2 1.2 4.3 4.3c0.6 0.6 1.5 0.6 2.1 0s0.6-1.5 0-2.1l-5.2-5.2zM14.2 15c-0.4 0-0.8-0.3-0.8-0.8 0-0.4 0.3-0.8 0.8-0.8s0.8 0.3 0.8 0.8c0 0.5-0.3 0.8-0.8 0.8z"
              ></path>
              <path
                d="M3.6 8l0.9-0.6 1.5-1.7 0.9 0.9 0.9-0.9-0.1-0.1c0.2-0.5 0.3-1 0.3-1.6 0-2.2-1.8-4-4-4-0.6 0-1.1 0.1-1.6 0.3l2.9 2.9-2.1 2.1-2.9-2.9c-0.2 0.5-0.3 1-0.3 1.6 0 2.1 1.6 3.7 3.6 4z"
              ></path>
              <path
                d="M8 10.8l0.9-0.8-0.9-0.9 5.7-5.7 1.2-0.4 1.1-2.2-0.7-0.7-2.3 1-0.5 1.2-5.6 5.7-0.9-0.9-0.8 0.9c0 0 0.8 0.6-0.1 1.5-0.5 0.5-1.3-0.1-2.8 1.4-0.5 0.5-2.1 2.1-2.1 2.1s-0.6 1 0.6 2.2 2.2 0.6 2.2 0.6 1.6-1.6 2.1-2.1c1.4-1.4 0.9-2.3 1.3-2.7 0.9-0.9 1.6-0.2 1.6-0.2zM4.9 10.4l0.7 0.7-3.8 3.8-0.7-0.7z"
              ></path>
            </g>
          </svg>
          <span>Builder</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link header-link" href="/products"
          ><svg
            aria-hidden="true" 
            focusable="false"
            viewBox="0 0 512 512"
            xml:space="preserve"
            class="svg-links"
            fill="#000000"
          >
            <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
            <g
              id="SVGRepo_tracerCarrier"
              stroke-linecap="round"
              stroke-linejoin="round"
            ></g>
            <g id="SVGRepo_iconCarrier">
              <g>
                <path
                  class="st0"
                  d="M167.314,14.993C167.314,6.712,160.603,0,152.332,0h-5.514c-8.27,0-14.982,6.712-14.982,14.993v41.466h35.478 V14.993z"
                ></path>
                <path
                  class="st0"
                  d="M238.261,14.993C238.261,6.712,231.549,0,223.279,0h-5.503c-8.271,0-14.982,6.712-14.982,14.993v41.466h35.468 V14.993z"
                ></path>
                <path
                  class="st0"
                  d="M309.207,14.993C309.207,6.712,302.496,0,294.225,0h-5.504c-8.27,0-14.982,6.712-14.982,14.993v41.466h35.468 V14.993z"
                ></path>
                <path
                  class="st0"
                  d="M380.164,14.993C380.164,6.712,373.453,0,365.182,0h-5.514c-8.271,0-14.982,6.712-14.982,14.993v41.466h35.478 V14.993z"
                ></path>
                <path
                  class="st0"
                  d="M131.836,497.007c0,8.282,6.711,14.993,14.982,14.993h5.514c8.271,0,14.982-6.711,14.982-14.993V455.55 h-35.478V497.007z"
                ></path>
                <path
                  class="st0"
                  d="M202.793,497.007c0,8.282,6.712,14.993,14.982,14.993h5.503c8.27,0,14.982-6.711,14.982-14.993V455.55h-35.468 V497.007z"
                ></path>
                <path
                  class="st0"
                  d="M273.739,497.007c0,8.282,6.712,14.993,14.982,14.993h5.504c8.272,0,14.982-6.711,14.982-14.993V455.55 h-35.468V497.007z"
                ></path>
                <path
                  class="st0"
                  d="M344.686,497.007c0,8.282,6.712,14.993,14.982,14.993h5.514c8.27,0,14.982-6.711,14.982-14.993V455.55h-35.478 V497.007z"
                ></path>
                <path
                  class="st0"
                  d="M497.018,131.836h-41.466v35.479h41.466c8.272,0,14.982-6.712,14.982-14.993v-5.493 C512,138.548,505.289,131.836,497.018,131.836z"
                ></path>
                <path
                  class="st0"
                  d="M497.018,202.793h-41.466v35.468h41.466c8.272,0,14.982-6.712,14.982-14.982v-5.494 C512,209.504,505.289,202.793,497.018,202.793z"
                ></path>
                <path
                  class="st0"
                  d="M497.018,273.739h-41.466v35.468h41.466c8.272,0,14.982-6.711,14.982-14.992v-5.494 C512,280.451,505.289,273.739,497.018,273.739z"
                ></path>
                <path
                  class="st0"
                  d="M497.018,344.686h-41.466v35.479h41.466c8.272,0,14.982-6.712,14.982-14.993v-5.493 C512,351.398,505.289,344.686,497.018,344.686z"
                ></path>
                <path
                  class="st0"
                  d="M0,146.828v5.493c0,8.281,6.712,14.993,14.982,14.993H56.46v-35.479H14.982C6.712,131.836,0,138.548,0,146.828 z"
                ></path>
                <path
                  class="st0"
                  d="M0,217.785v5.494c0,8.27,6.712,14.982,14.982,14.982H56.46v-35.468H14.982C6.712,202.793,0,209.504,0,217.785z "
                ></path>
                <path
                  class="st0"
                  d="M0,288.721v5.494c0,8.281,6.712,14.992,14.982,14.992H56.46v-35.468H14.982C6.712,273.739,0,280.451,0,288.721 z"
                ></path>
                <path
                  class="st0"
                  d="M0,359.679v5.493c0,8.281,6.712,14.993,14.982,14.993H56.46v-35.479H14.982C6.712,344.686,0,351.398,0,359.679 z"
                ></path>
                <path
                  class="st0"
                  d="M78.628,433.382h354.754V78.628H78.628V433.382z M139.586,139.58h232.839V372.42H139.586V139.58z"
                ></path>
                <rect
                  x="184.362"
                  y="184.362"
                  class="st0"
                  width="143.288"
                  height="143.287"
                ></rect>
              </g>
            </g>
          </svg>
          <span>Products</span>
        </a>
      </li>
      <li class="nav-item"><a href="/builds" class="nav-link header-link">
        <svg aria-hidden="true" focusable="false" class="svg-links-1" height="27.5" fill="none">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M21 3h-7a1 1 0 0 0-1 1v16a1 1 0 0 0 1 1h7a1 1 0 0 0 1-1V4a1 1 0 0 0-1-1Zm-7-2a3 3 0 0 0-3 3v16a3 3 0 0 0 3 3h7a3 3 0 0 0 3-3V4a3 3 0 0 0-3-3h-7Z"></path>
          <path d="M20 8.5a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0ZM20 15.5a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0Z"></path>
          <path fill-rule="evenodd" clip-rule="evenodd" d="M0 9a4 4 0 0 1 4-4h4a1 1 0 0 1 0 2H4a2 2 0 0 0-2 2v6a2 2 0 0 0 2 2h4a1 1 0 1 1 0 2H4a4 4 0 0 1-4-4V9ZM9 22a1 1 0 0 1-1 1H4a1 1 0 1 1 0-2h4a1 1 0 0 1 1 1Z"></path>
        </svg>
            <span>Completed Builds</span>
          </a>
        </a>
      </li>
    </ul>
    <form method="get" action="/products/search" class="search">
      <input aria-label="Search products" type="text" name="search" placeholder="Search products..." />
      <button aria-label="Submit search input" type="submit" class="search-btn">
        <svg
          viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg"
          class="search-icon"
        >
          <g id="SVGRepo_bgCarrier" stroke-width="0" />
          <g
            id="SVGRepo_tracerCarrier"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
          <g id="SVGRepo_iconCarrier">
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M10 5C7.23858 5 5 7.23858 5 10C5 12.7614 7.23858 15 10 15C11.381 15 12.6296 14.4415 13.5355 13.5355C14.4415 12.6296 15 11.381 15 10C15 7.23858 12.7614 5 10 5ZM3 10C3 6.13401 6.13401 3 10 3C13.866 3 17 6.13401 17 10C17 11.5719 16.481 13.0239 15.6063 14.1921L20.7071 19.2929C21.0976 19.6834 21.0976 20.3166 20.7071 20.7071C20.3166 21.0976 19.6834 21.0976 19.2929 20.7071L14.1921 15.6063C13.0239 16.481 11.5719 17 10 17C6.13401 17 3 13.866 3 10Z"
            />
          </g>
        </svg>
      </button>
    </form>
  </div>
</nav>
</header>