<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles.css" />
    <title>bitStock</title>
  </head>
  <body>
    <%- include("components/header") %>
    <main>
      <div class="first-row">
        <h1>Welcome</h1>
        <p>
          Welcome to bitStock! Your personalized inventory to keep track of your
          tech products. You can add a new product or category for your store,
          complete with custom images and comprehensive details!
        </p>
      </div>
      <div class="dashboard-container">
        <h2>Dashboard</h1>
        <div class="dashboard">
          <div></div>
          <div></div>
          <div></div>
        </div>
      </div>
      <div class="content">
        <div class="builds-container">
          <h2>Builds</h2>
          <div class="builds">
            <img src="build.png" class="build-image" alt="An image of a PC build">
            <div class="build-links">
            <a href="/builds">Completed Builds</a>
            <a href="/builds/new"">New build</a>
            </div>
          </div>
        </div>
        <div class="categories-container">
          <h2>Products</h2>
          <div class="categories">
            <a href="/products/cpu" class="category">
              <img src="cpu-1.png" alt="An image of a cpu" class="category-image">
              <p>CPUs</p>
            </a>
            <a href="/products/cpu-cooler" class="category">
              <img src="cpu-cooler-3.png" alt="An image of a cpu cooler" class="category-image">
              <p>CPU Coolers</p>
            </a>
            <a href="/products/motherboard" class="category">
              <img src="mb-3.png" alt="An image of a motherboard" class="category-image">
              <p>Motherboards</p>
            </a>
            <a href="/products/memory" class="category">
              <img src="memory-1.png" alt="An image of a ram" class="category-image">
              <p>Memory</p>
            </a>
            <a href="/products/storage" class="category">
              <img src="storage-2.png" alt="An image of a ssd" class="category-image">
              <p>Storage</p>
            </a>
            <a href="/products/video-card" class="category">
              <img src="video-card-3.png" alt="An image of a GPU" class="category-image">
              <p>Video Card</p>
            </a>
            <a href="/products/power-supply" class="category">
              <img src="psu-2.png" alt="An image of a power supply" class="category-image">
              <p>Power Supplies</p>
            </a>
            <a href="/products/case" class="category">
              <img src="case-1.png" alt="An image of cases" class="category-image">
              <p>Cases</p>
            </a>
            <a href="/products/monitor" class="category">
              <img src="monitor-1.png" alt="An image of a monitor" class="category-image">
              <p>Monitors</p>
            </a>
            <a href="/products/headphones" class="category">
              <img src="headphones-1.png" alt="An image of a headphone" class="category-image">
              <p>Headphones</p>
            </a>
            <a href="/products/keyboard" class="category">
              <img src="kb-2.png" alt="An image of a keyboard" class="category-image">
              <p>Keyboards</p>
            </a>
            <a href="/products/mouse" class="category">
              <img src="mouse-1.png" alt="An image of a mouse" class="category-image">
              <p>Mice</p>
            </a>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
