/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

body {
  /* 3. Add accessible line-height */
  line-height: 1.5;
  /* 4. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 5. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 7. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
  9. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

@font-face {
  font-family: myFontLogo;
  src: url("cyber-alert.otf");
}

@font-face {
  font-family: myFontRegular;
  src: url("inter.ttf");
}

body {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  width: 100%;
  background-color: #8a2be2;
  box-shadow: 0 0 1rem #a8a8a8;
  z-index: 5;
}

.logo-svg {
  width: 50px;
  fill: #eda920;
}

.logo .logo-svg:last-of-type {
  width: 26px;
  position: relative;
  left: -0.88rem;
  top: 0.65rem;
}

.logo {
  display: flex;
  font-family: myFontLogo;
  align-items: center;
  color: white !important;
  font-size: 2rem;
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
  grid-area: logo;
  text-decoration: none;
  width: max-content;
}

.logo span {
  position: relative;
  left: -0.625rem;
  top: 0.5rem;
}

.logo span:last-of-type {
  left: -1.165rem;
}

.page-links {
  font-family: myFontRegular;
  font-size: 1.375rem;
  font-weight: 500;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 1rem;
}

li {
  list-style-type: none;
}

.header-link {
  text-decoration: none;
  color: white;
  display: flex;
  align-items: center;
  gap: 0.375rem;
  margin-left: 0.5rem;
}

.header-link span {
  color: white;
  transition: all 0.3s ease !important;
}

.header-link:hover span {
  color: #eda920;
}

.svg-links-1 path,
.svg-links-2 path {
  fill: white;
  transition: all 0.3s ease;
}

.page-links li:hover .svg-links,
.page-links li:hover .svg-links path,
.page-links li:hover .svg-links .st0,
.page-links li:hover .svg-links-1,
.page-links li:hover .svg-links-1 path,
.page-links li:hover .svg-links-1 .st0,
.page-links li:hover .svg-links-2,
.page-links li:hover .svg-links-2 path,
.page-links li:hover .svg-links-2 .st0,
.page-links li:hover .svg-links-4,
.page-links li:hover .svg-links-4 path,
.page-links li:hover .svg-links-4 .st0 {
  fill: #eda920;
}

.page-links li a {
  transition: all 0.3s ease;
}

.page-links li:hover a {
  color: #eda920;
}

.svg-links-1 {
  width: 27.5px;
}

.svg-links-2 {
  width: 22.5px;
}

.svg-links-4 {
  width: 37.5px;
}

.page-links li span {
  min-width: max-content;
}

.svg-links {
  width: 22.5px;
  transition: all 0.3s ease;
}

.st0 {
  fill: white;
  transition: all 0.3s ease;
}

.search {
  display: flex;
  align-items: center;
  align-self: center;
  gap: 0.25rem;
  font-family: myFontRegular;
}

.search > input {
  border: 1px solid rgba(0, 0, 0, 0.26);
  outline: none;
  border-radius: 5px;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 0.2rem;
  width: 100%;
  height: max-content;
  font-size: 0.95rem;
}

.search > input:focus {
  border: 1px solid #eda920;
}

.search-btn {
  padding: 0;
  background-color: blueviolet;
  border: none;
  outline: none;
}

.search-icon {
  width: 25px;
  cursor: pointer;
}

.search-icon path {
  transition: all 0.3s ease;
}

.search-icon:hover path {
  fill: #eda920;
}

.search-icon path {
  fill: white;
}

@media (max-width: 600px) {
  .page-links {
    align-items: start;
    font-size: 1.15rem;
    gap: 0rem;
  }

  .header-link {
    display: grid;
    grid-template-columns: 35px 1fr;
    gap: 0rem;
    margin-left: 0.5rem;
  }

  .svg-links-4 {
    width: 30px;
  }

  .search > input {
    width: 100%;
    height: max-content;
    font-size: 0.95rem;
    margin-left: 0.5rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
}

/* HOME PAGE */
main {
  margin-top: 7.5rem;
  display: flex;
  flex-direction: column;
  font-family: myFontRegular;
  align-items: center;
  width: 100%;
  padding: 0 2rem 2rem 2rem;
}

.index-page {
  display: grid;
  grid-template-areas:
    "dashboard dashboard"
    "builds categories";
  height: 100%;
  gap: 2rem;
  margin-top: 10rem;
  margin-bottom: 2rem;
  place-content: start center;
  width: 1500px;
}

.dashboard-container {
  grid-area: dashboard;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.dashboard-icon {
  width: 100px;
  height: 100px;
}

.dashboard {
  display: flex;
  align-items: center;
  gap: 2rem;
  width: inherit;
}

.dashboard-stat {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 2rem;
  padding: 2rem;
  box-shadow: lightgray 0px 2.5px 15px;
  width: 100%;
  border-radius: 10px;
}

.dashboard-stat span:first-child {
  font-size: 2rem;
  font-weight: 500;
}

.dashboard-stat span:last-child {
  color: #929292;
}

.dashboard-details {
  display: flex;
  flex-direction: column;
}

.builds-container {
  grid-area: builds;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  height: 100%;
  gap: 1.75rem;
  padding: 2rem;
  box-shadow: lightgray 0px 2.5px 15px;
}

.builds-container span,
.categories-container span {
  font-weight: 500;
  font-size: 1.15rem;
  position: relative;
  top: -1rem;
  left: -1rem;
}

.builds {
  display: flex;
  flex-direction: column;
  gap: 1.75rem;
}

.build-links {
  display: flex;
  justify-content: space-around;
  gap: 2rem;
}

.build-links a {
  text-decoration: none;
  color: black;
  transition: all 0.3s ease;
  font-size: 1.25rem;
  font-weight: 400;
}

.build-links a:hover {
  color: #eda920;
}

.builds img {
  width: 100%;
}

.categories-container {
  display: flex;
  flex-direction: column;
  grid-area: categories;
  box-shadow: lightgray 0px 2.5px 15px;
  width: max-content;
  border-radius: 10px;
  height: 100%;
  padding: 2rem;
}

.categories {
  display: grid;
  width: 800px;
  grid-template-columns: repeat(auto-fill, minmax(175px, 1fr));
  grid-auto-rows: 175px;
  gap: 1rem;
  padding: 1rem;
}

.category {
  place-self: center;
  display: grid;
  width: 100%;
  place-items: center;
  grid-template-rows: 125px 1fr;
  cursor: pointer;
  transition: all 0.3s ease;
  color: black;
  font-size: 1.25rem;
  font-weight: 400;
  text-decoration: none !important;
}

.category:hover {
  color: #eda920;
}

.category-image {
  width: 100px;
}

.choose-category-container {
  margin-top: 7.5rem;
  font-family: myFontRegular;
  padding: 2rem;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-self: center;
  align-items: center;
}

/* HOME PAGE MOBILE STYLES */
@media (max-width: 600px) {
  body {
    min-height: 100vh;
    width: 100vw;
  }

  nav {
    width: inherit;
  }

  .index-page {
    display: grid;
    grid-template-areas:
      "dashboard"
      "categories"
      "builds";
    gap: 1rem;
    padding: 0 1rem 1rem 1rem;
    margin: 7.5rem 1rem 0rem 1rem;
    width: 100%;
  }

  .dashboard-container {
    gap: 1rem;
  }

  .dashboard-icon {
    width: 75px;
    height: 75px;
  }

  .dashboard {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1rem;
    width: inherit;
  }

  .dashboard-stat {
    gap: 1rem;
    padding: 1rem;
    box-shadow: lightgray 0px 2.5px 10px;
    flex-direction: column;
    height: 100%;
  }

  .dashboard-stat span:first-child,
  .dashboard-stat span:last-child {
    text-align: center;
  }

  .builds-container {
    gap: 1.75rem;
    padding: 2rem;
    box-shadow: lightgray 0px 2.5px 10px;
  }

  .build-links {
    align-items: center;
  }

  .build-links a {
    font-size: 1rem;
    width: max-content;
  }

  .categories-container {
    box-shadow: lightgray 0px 2.5px 10px;
    width: inherit;
    height: 100%;
    gap: 1rem;
  }

  .categories {
    display: grid;
    width: inherit;
    grid-template-columns: repeat(auto-fill, minmax(95px, 1fr));
    grid-auto-rows: 125px;
    gap: 2rem;
  }

  .category {
    place-items: center;
    width: 100%;
    grid-template-rows: 100px 1fr;
    font-size: 1rem;
    text-align: center;
  }

  .category-image {
    width: 75px;
  }
}

/* CHOOSE CATEGORY CONTAINER MOBILE STYLES */
@media (max-width: 600px) {
  .choose-category-container {
    margin-top: 5.5rem;
    padding: 2rem;
    width: 100%;
    gap: 1rem;
  }

  .choose-category-container h1 {
    text-align: center;
  }
}

/* ADD PRODUCT STYLES */
.product-form-header {
  display: flex;
  width: 50%;
  align-items: center;
  justify-content: space-between;
  margin-top: 10rem;
  font-family: myFontRegular;
}

.product-form {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  width: 50%;
  align-self: center;
  font-family: myFontRegular;
  background-color: rgba(138, 43, 226, 0.1);
  padding: 3rem 1rem;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 3px;
  font-size: 1rem;
}

.product-form input {
  border: 1px solid rgba(0, 0, 0, 0.26);
  border-radius: 5px;
  outline: none;
  padding: 0.25rem;
}

.product-form input:focus {
  border: 1px solid #eda920;
  box-shadow: 3px 3px 10px #6f69694d;
}

.product-form input[type="radio"] {
  filter: hue-rotate(188.5deg);
  cursor: pointer;
}

.product-form input[type="file"] {
  cursor: pointer;
}

.product-form input[type="checkbox"] {
  accent-color: #eda920;
  cursor: pointer;
}

.product-form input[type="radio"]:focus,
.product-form input[type="checkbox"] {
  box-shadow: none;
  border: none;
}

.product-submit {
  cursor: pointer;
  width: 100%;
  border-radius: 5px;
  border: 1px solid transparent;
  background-color: rgba(138, 43, 226, 0.55);
  padding: 0.5rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 3px;
  color: white;
}

.product-submit.add {
  width: max-content;
  padding: 0.25rem 0.5rem;
}

.product-submit:hover {
  background-color: rgba(138, 43, 226, 0.4);
  box-shadow: rgba(0, 0, 0, 0.36) 0px 1px 3px;
  border: 1px solid transparent;
}

.input-grouper {
  display: flex;
  width: 100%;
  padding-left: 2.75rem;
  padding-right: 2.75rem;
  justify-content: center;
  gap: 4rem;
}

.label-input-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.label-input-container > input {
  width: 100%;
}

#image {
  padding: 0.23rem 0.5rem;
  border: 1px solid rgba(0, 0, 0, 0.26);
  border-radius: 5px;
}

.product-fieldset {
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.26);
  border-radius: 5px;
  display: flex;
  padding: 0rem 0 0.35rem 1rem;
  gap: 2rem;
  width: 100%;
  align-items: center;
}

#first-word-latency,
#cas-latency {
  width: 100%;
}

.label-input-container.checkbox {
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;

  input {
    height: min-content;
    width: min-content;
  }
}

/* ADD PRODUCT MOBILE STYLES */
@media (max-width: 600px) {
  .product-form-header {
    width: 100%;
    padding: 0 1rem;
    margin-bottom: 2rem;
    margin-top: 7.5rem;
    gap: 1rem;
  }

  .product-form-header h1 {
    word-break: break-word;
  }

  .product-form {
    margin: 0 1rem 1rem 1rem;
    gap: 2rem;
    width: calc(100% - 2rem);
    padding: 3rem 1rem;
    border-radius: 20px;
  }

  .product-form input:focus {
    box-shadow: 3px 3px 7.5px #6f69694d;
  }

  .product-submit {
    padding: 0.5rem;
  }

  .input-grouper {
    flex-direction: column;
    width: 100%;
    padding-left: 2rem;
    padding-right: 2rem;
    gap: 2rem;
  }

  .product-fieldset {
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
    align-items: start;
    font-size: 1rem;
  }
}

/* PRODUCTS PAGE Styles */
.products-page {
  padding: 0 8rem;
  gap: 2rem;
  margin-bottom: 4rem;
}

.first-row-products {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1rem;
  align-items: center;
  padding: 0;
  width: 100%;
}

.items-container {
  width: 100%;
  height: max-content;
  display: grid;
  grid-template-columns: 250px 1fr;
  border-radius: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.144);
}

.sidebar {
  padding: 2rem;
  border-right: 1px solid rgba(0, 0, 0, 0.144);
  border-radius: 1rem 0 0 1rem;
  background-color: rgba(138, 43, 226, 0.1);
}

.filter-form {
  font-size: 1.15rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.filter-input-container {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 0.25rem;
}

.filter-label {
  font-weight: 600;
}

.filter-input label,
.filter-input input {
  cursor: pointer;
}

.filter-input label {
  position: relative;
  top: -1px;
}

.filter-form input[type="radio"] {
  filter: hue-rotate(188.5deg);
}

.filter-form input[type="checkbox"] {
  accent-color: #eda920;
  cursor: pointer;
}

.apply-btn {
  background-color: rgba(255, 255, 255, 0.85);
  border: 1px solid rgb(181, 181, 181);
  padding: 0.25rem 1rem;
  border-radius: 2rem;
  cursor: pointer;
}

.apply-btn:hover {
  background-color: white;
  outline: 1px solid rgba(0, 0, 0, 0.7);
}

.products-content {
  display: flex;
  flex-direction: column;
}

.products {
  padding: 3rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(375px, 1fr));
  grid-auto-rows: 400px;
  gap: 3rem;
  width: inherit;
  place-items: center;
}

.product {
  height: max-content;
  width: 375px;
  display: grid;
  grid-template-rows: min-content 1fr;
  box-shadow: lightgray 0px 2.5px 15px;
  border-radius: 10px;
  transition: all 0.3s ease-out;
  position: relative;
}

.product:hover {
  transform: scale(1.01);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 0px 25px 0px;
}

.product-link {
  color: black !important;
  text-decoration: none !important;
}

.product-category {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1em;
  width: max-content;
  padding: 0.5rem;
  height: 20px;
  position: absolute;
  top: 5px;
  z-index: 1;
  right: 0px;
  border-radius: 40px;
  background-color: #eda920;
  font-size: 0.7rem;
  font-weight: bold;
  color: white;
}

.product-brand {
  height: 25px;
  position: absolute;
  margin: 1em;
  z-index: 1;
  left: 0px;
  object-fit: cover;
}

.product-image {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 240px;
  padding-top: 2rem;
}

.product-image img {
  height: 175px;
}

.product-details {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}

.product-name {
  text-align: center;
  font-weight: 600;
  font-size: 1.15rem;
  height: 60px;
}

.feature-row {
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.feature-row.right {
  justify-content: end;
}

.product-feature {
  display: flex;
  justify-content: center;
  height: 25px;
  overflow: hidden;
}

.product-feature.right {
  justify-content: end;
  text-align: end;
}

/* PRODUCTS PAGE MOBILE STYLES */
@media (max-width: 600px) {
  .products-page {
    padding: 0;
    gap: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
    margin-top: 7.5rem;
    width: calc(100% - 2rem);
  }

  .first-row-products {
    gap: 1rem;
  }

  .items-container {
    grid-template-columns: 145.85px 1fr;
  }

  .sidebar {
    padding: 0.75rem;
  }

  .filter-form {
    font-size: 1rem;
    gap: 1rem;
  }

  .filter-input-container {
    gap: 0rem;
  }

  .apply-btn {
    padding: 0.2rem 0.5rem;
  }

  .products {
    padding: 0.87rem;
    grid-template-columns: 1fr;
    grid-auto-rows: 280px;
    gap: 1rem;
  }

  .product {
    max-width: 167.727px !important;
    min-width: 167.727px !important;
    width: inherit !important;
    height: max-content;
    grid-template-columns: 1fr;
    grid-template-rows: min-content 1fr;
    box-shadow: lightgray 0px 2.5px 10px;
    padding: 0 1rem;
  }

  .product:hover {
    transform: none;
    box-shadow: lightgray 0px 2.5px 10px;
  }

  .product-brand {
    height: 20px;
    width: 50px;
    object-fit: contain;
  }

  .product-category {
    margin: 1em;
    padding: 0.5rem;
    height: 20px;
    position: absolute;
    top: 5px;
    z-index: 1;
    right: 0px;
    border-radius: 40px;
    background-color: #eda920;
    font-size: 0.6rem;
    font-weight: bold;
    color: white;
  }

  .product-image {
    width: 100%;
    height: 150px;
    padding: 3rem 0 0 0;
  }

  .product-image img {
    width: 100%;
    object-fit: contain;
    height: 90px;
  }

  .product-details {
    gap: 0.5rem;
    padding: 0.5rem 0;
  }

  .product-name {
    width: 100% !important;
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 1rem;
    height: 75px;
    text-align: center;
    word-break: break-word;
  }
}

/* SEARCH PRODUCTS PAGE STYLES */
.search-items-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(375px, 1fr));
  grid-auto-rows: 400px;
  gap: 3rem;
  width: inherit;
  place-items: center;
  border: 1px solid rgba(0, 0, 0, 0.144);
  padding: 3rem;
  border-radius: 1rem;
}

/* SEARCH PRODUCTS PAGE MOBILE STYLES */
@media (max-width: 600px) {
  .products-page.search {
    padding: 0;
  }

  .search-items-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(155px, 1fr));
    grid-auto-rows: 290px;
    gap: 1rem;
    padding: 1rem;
    border-radius: 1rem;
    width: 100%;
  }
}

/* PRODUCT PAGE STYLES */
.product-page {
  width: 62%;
}

.first-row-product {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  padding: 0;
  width: 100%;
}

.product-container {
  flex: 1;
  margin: 2rem 0;
  padding: 2rem;
  display: grid;
  grid-template-columns: 300px 1fr;
  gap: 2rem;
  border-radius: 1rem;
  height: 100%;
  border: 1px solid rgba(0, 0, 0, 0.144);
  font-family: myFontRegular;
  grid-template-areas:
    "category-brand category-brand"
    "image details"
    "btns btns";
  width: 100%;
}

.category-brand {
  display: flex;
  justify-content: space-between;
  align-items: start;
  grid-area: category-brand;
}

.category-brand div:first-child {
  display: flex;
  justify-content: start;
  align-items: center;
  width: max-content;
  padding: 0.75rem;
  height: 25px;
  border-radius: 40px;
  background-color: #eda920;
  font-size: 1rem;
  font-weight: bold;
  color: white;
}

.category-brand img {
  height: 40px;
  object-fit: cover;
}

.product-page-image {
  width: 100%;
  height: 300px;
  grid-area: image;
}

.product-page-image img {
  min-height: 300px;
}

.product-page-details {
  grid-area: details;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.product-detail {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-size: 1.25rem;
}

.product-detail span {
  line-height: 1;
}

.product-detail > span:first-child {
  color: #929292;
}

/* PRODUCT EDIT PAGE STYLES */
.category-brand.edit input {
  border: 1px solid rgba(0, 0, 0, 0.26);
  border-radius: 5px;
  outline: none;
  padding: 0.25rem;
  height: 100%;
  font-size: 1.25rem;
}

.category-brand.edit input:focus {
  border: 1px solid #eda920;
  box-shadow: 3px 3px 10px #6f69694d;
}

.product-page-details h1 input {
  border: 1px solid rgba(0, 0, 0, 0.26);
  border-radius: 5px;
  outline: none;
  padding: 0.25rem;
  height: 100%;
}

.product-page-details h1 input:focus {
  border: 1px solid #eda920;
  box-shadow: 3px 3px 10px #6f69694d;
}

.product-detail input[type="radio"] {
  filter: hue-rotate(188.5deg);
}

.product-detail input[type="text"],
.product-detail input[type="number"],
.product-detail input[type="password"] {
  border: 1px solid rgba(0, 0, 0, 0.26);
  border-radius: 5px;
  outline: none;
  padding: 0.25rem;
  height: 100%;
}

.product-detail input[type="text"]:focus,
.product-detail input[type="number"]:focus,
.product-detail input[type="password"]:focus {
  border: 1px solid #eda920;
  box-shadow: 3px 3px 10px #6f69694d;
}

.product-detail input[type="checkbox"] {
  filter: hue-rotate(188.5deg);
  cursor: pointer;
  max-width: min-content;
}

.specific-details {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 2rem;
  place-items: start;
}

.product-page-btns {
  grid-area: btns;
  justify-self: end;
  display: flex;
  gap: 0.75rem;
}

.product-submit.delete {
  width: max-content;
  padding: 0.25rem 0.5rem;
  background-color: rgba(226, 43, 70, 0.55);
}

.product-submit.delete:hover {
  background-color: rgba(226, 43, 70, 0.75);
}

.product-colors {
  display: flex;
  gap: 0.25rem;
}

.product-input {
  display: flex;
  align-items: center;
}

.product-specific-input {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.product-specific-input-radio {
  display: flex;
  align-items: center;
  column-gap: 1rem;
  row-gap: 0.2rem;
  flex-wrap: wrap;
}

.product-specific-input-radio div {
  display: flex;
  gap: 0.25rem;
}

.product-specific-input-radio div label {
  min-width: max-content;
}

.product-page-image.edit {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding-top: 0.35rem;
  margin-bottom: 0.35rem;
}

.product-page-image.edit input {
  width: 100%;
}

.specific-details.edit {
  gap: 2rem;
}

.specific-details.edit input {
  width: 100%;
}

.product-page-btns.edit {
  align-self: flex-end;
}

/* DELETE PRODUCT PAGE STYLES */
.password-field {
  display: flex;
  gap: 0.75rem;
  align-items: center;
}

.password-error {
  color: red;
  font-weight: 500;
}

.password-input {
  display: flex;
  align-items: center;
  position: relative;
  gap: 0.75rem;
  width: max-content;
}

.password-input img {
  height: 25px;
  position: absolute;
  right: 0.3rem;
  cursor: pointer;
}

.product-page-btns.delete {
  width: 100%;
  justify-content: space-between;
}

.product-detail.delete {
  width: max-content;
}

/* BUILDER PAGE STYLES */
.builder-page {
  padding: 0 14rem;
  gap: 2rem;
  margin-bottom: 4rem;
}

.builder-container {
  width: 100%;
  height: max-content;
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.144);
  padding: 4rem;
  gap: 2rem;
}

.builder-container input {
  border: 1px solid rgba(0, 0, 0, 0.26);
  border-radius: 5px;
  outline: none;
  padding: 0.25rem;
}

.builder-container input:focus {
  border: 1px solid #eda920;
  box-shadow: 3px 3px 10px #6f69694d;
}

.builder-container input[type="radio"] {
  filter: hue-rotate(188.5deg);
  cursor: pointer;
}

.area-title {
  font-size: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: end;
  text-align: start;
}

.form-error {
  font-size: 1rem;
  color: red;
}

.build-details-container,
.build-components-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.build-components {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.build-component-container {
  display: flex;
  flex-direction: column;
}

.build-component-container span {
  font-weight: 500;
}

.build-component {
  border-radius: 10px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px dashed rgba(0, 0, 0, 0.26);
  cursor: pointer;
  color: #eda920;
  height: 75px;
  text-decoration: none;
}

.build-component:hover {
  color: rgb(237, 169, 32, 0.8);
  background-color: rgb(0, 0, 0, 0.01);
}

.build-component-selected {
  display: grid;
  border-radius: 10px;
  border: 2px solid rgba(0, 0, 0, 0.26);
  width: 100%;
  padding: 0.5rem 2rem;
  place-items: center start;
  height: 75px;
  font-size: 1.15rem;
  grid-template-columns: max-content 4fr 1fr 1fr 1fr;
}

.build-component-selected a {
  text-decoration: none;
  color: black;
  transition: all 0.3s ease;
}

.build-component-selected a:hover {
  color: #eda920;
}

.part-image {
  grid-area: 1 / 1 / 2 / 2;
}

.part-name {
  place-self: center start;
  padding-left: 2rem;
  grid-area: 1 / 2 / 2 / 3;
  font-weight: 500;
}

.part-quantity {
  place-self: center;
  grid-area: 1 / 3 / 2 / 4;
  color: #ca500f;
  font-weight: 500;
}

.part-price {
  place-self: center;
  grid-area: 1 / 4 / 2 / 5;
  color: #00b16a;
  font-weight: 500;
}

.part-buttons {
  font-size: 1rem;
  place-self: center end;
  grid-area: 1 / 5 / 2 / 6;
  display: flex;
  justify-content: end;
  width: inherit;
  gap: 0.5rem;
}

.build-component-selected img {
  height: 50px;
}

.build-details {
  display: flex;
  gap: 3rem;
}

.build-btns-container {
  display: flex;
  justify-content: end;
  gap: 0.75rem;
  margin-top: 1rem;
}

.build-btns-container a {
  text-decoration: none;
}

/* BUILDER PAGE MOBILE STYLES */
@media (max-width: 600px) {
  .builder-page {
    padding: 0;
    gap: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
    margin-top: 7.5rem;
    width: calc(100% - 2rem);
  }

  .builder-container {
    padding: 2rem;
  }

  .builder-container input:focus {
    box-shadow: 3px 3px 7.5px #6f69694d;
  }

  .area-title {
    font-size: 1.75rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .build-component {
    border-radius: 10px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px dashed rgba(0, 0, 0, 0.26);
    cursor: pointer;
    color: #eda920;
    height: 75px;
    text-decoration: none;
  }

  .build-component-selected {
    display: grid;
    border-radius: 10px;
    border: 2px solid rgba(0, 0, 0, 0.26);
    width: 100%;
    padding: 0.5rem 2rem;
    place-items: center start;
    height: 75px;
    font-size: 1.15rem;
    grid-template-columns: max-content 4fr 1fr 1fr 1fr;
  }

  .build-component-selected a {
    text-decoration: none;
    color: black;
    transition: all 0.3s ease;
  }

  .build-component-selected a:hover {
    color: #eda920;
  }

  .part-image {
    grid-area: 1 / 1 / 2 / 2;
  }

  .part-name {
    place-self: center start;
    padding-left: 2rem;
    grid-area: 1 / 2 / 2 / 3;
    font-weight: 500;
  }

  .part-quantity {
    place-self: center;
    grid-area: 1 / 3 / 2 / 4;
    color: #ca500f;
    font-weight: 500;
  }

  .part-price {
    place-self: center;
    grid-area: 1 / 4 / 2 / 5;
    color: #00b16a;
    font-weight: 500;
  }

  .part-buttons {
    font-size: 1rem;
    place-self: center end;
    grid-area: 1 / 5 / 2 / 6;
    display: flex;
    justify-content: end;
    width: inherit;
    gap: 0.5rem;
  }

  .build-component-selected img {
    height: 50px;
  }

  .build-details {
    display: flex;
    gap: 3rem;
  }

  .build-btns-container {
    display: flex;
    justify-content: end;
    gap: 0.75rem;
    margin-top: 1rem;
  }

  .build-btns-container a {
    text-decoration: none;
  }
}

/* BUILDS PAGE STYLES */
.build-image {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 240px;
  padding-top: 1.5rem;
}

.build-image img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.product-feature.build {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 0.25rem;
}

.product-feature.build svg {
  height: 20px;
  position: relative;
  top: -1px;
}

.build-name {
  text-align: center;
  font-weight: 600;
  font-size: 1.15rem;
  height: 30px;
}

/* BUILDS PAGE MOBILE STYLES */
@media (max-width: 600px) {
  .products.builds {
    grid-auto-rows: 430px;
  }

  .product.build {
    height: 430px;
  }

  .build-image {
    width: 100%;
    height: 150px;
    padding: 1rem 0 0 0;
  }

  .build-image img {
    width: 100%;
    object-fit: cover;
    height: 100%;
  }

  .product-details.build {
    justify-content: space-between;
  }

  .product-details.build .feature-row {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    height: 100%;
  }

  .product-feature.build {
    text-align: center;
    height: max-content;
    justify-content: center;
    height: max-content;
    overflow: visible;
  }

  .product-feature.right.build {
    text-align: center;
  }

  .build-name {
    width: 100% !important;
    font-weight: 500;
    font-size: 1rem;
    height: max-content;
    text-align: center;
    word-break: break-word;
    margin-bottom: 0.5rem;
  }
}

/* BUILD PAGE STYLES */
.items-container.build {
  grid-template-columns: 325px 1fr;
}

.sidebar.build {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background-color: white;
}

.build-page-details {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.build-btns {
  display: flex;
  justify-content: space-between;
  gap: 0.75rem;
  align-items: center;
}

.product-submit.build {
  height: min-content;
  min-width: 75px;
}

/* BUILD PAGE MOBILE STYLES */
@media (max-width: 600px) {
  .items-container.build {
    grid-template-columns: 1fr;
    width: 100% !important;
  }

  .sidebar.build {
    gap: 2rem;
    padding: 1rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.144);
    border-right: none;
    border-radius: 1rem 1rem 0 0;
  }

  .products.build {
    grid-template-columns: repeat(auto-fill, minmax(155px, 1fr));
    grid-auto-rows: 290px;
    padding: 1rem;
  }
}

/* BUILD DELETE PAGE STYLES */
.items-container.delete {
  grid-template-columns: 325px 1fr;
  width: 100% !important;
}

.build-page-details.delete {
  padding: 2rem;
  flex-direction: column;
  height: 100%;
  gap: 2rem;
}

.build-page-details.delete p {
  align-self: center;
}

/* BUILD DELETE PAGE MOBILE STYLES */
@media (max-width: 600px) {
  .items-container.delete {
    grid-template-columns: 100% !important;
    width: 100% !important;
  }

  .build-page-details.delete {
    padding: 1rem;
    width: inherit;
    gap: 3rem;
  }

  .password-field {
    gap: 0.75rem;
    align-items: center;
    flex-direction: column;
  }

  .password-input {
    max-width: calc(100% - 1rem);
    align-self: flex-start;
  }

  .password-input img {
    right: 1.35rem;
  }

  .password-input input {
    max-width: inherit;
  }

  .password-error {
    align-self: flex-start;
  }

  .product-page-btns.delete {
    gap: 2rem;
  }
}

/* BUILDER EDIT SPECIFIC STYLES */
.build-image-edit {
  width: 100px;
  height: 100px;
  position: absolute;
  top: -80px;
  left: 200px;
}

#image-label {
  position: relative;
}
