/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

body {
  /* 3. Add accessible line-height */
  line-height: 1.5;
  /* 4. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 5. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 7. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
  9. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

@font-face {
  font-family: myFontLogo;
  src: url("cyber-alert.otf");
}

@font-face {
  font-family: myFontRegular;
  src: url("inter.ttf");
}

body {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.header {
  display: grid;
  width: 100%;
  background-color: blueviolet;
  padding: 0.75rem 1rem;
  grid-template-columns: 1fr 1.25fr 1fr;
  grid-template-areas: "logo page-links search";
  position: fixed;
  z-index: 1;
  box-shadow: 0 0 1rem #a8a8a8;
}

.logo-svg {
  width: 50px;
  fill: #eda920;
}

.logo .logo-svg:last-of-type {
  width: 26px;
  position: relative;
  left: -0.88rem;
  top: 0.65rem;
}

.logo {
  display: flex;
  font-family: myFontLogo;
  align-items: center;
  color: white;
  font-size: 2rem;
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
  grid-area: logo;
  text-decoration: none;
  width: max-content;
}

.logo span {
  position: relative;
  left: -0.625rem;
  top: 0.5rem;
}

.logo span:last-of-type {
  left: -1.165rem;
}

.page-links {
  display: flex;
  gap: 3rem;
  font-family: myFontRegular;
  font-size: 1.375rem;
  align-items: center;
  font-weight: 500;
  grid-area: page-links;
  place-self: center;
}

li {
  list-style-type: none;
}

.page-links a {
  text-decoration: none;
  color: white;
  display: flex;
  align-items: center;
  gap: 0.375rem;
}

.page-links li:first-of-type .svg-links {
  width: 27.5px;
}

.svg-links path {
  fill: white;
  transition: all 0.3s ease;
}

.page-links li:hover .svg-links,
.page-links li:hover .svg-links path,
.page-links li:hover .svg-links .st0 {
  fill: #eda920;
}

.page-links li a {
  transition: all 0.3s ease;
}

.page-links li:hover a {
  color: #eda920;
}

.page-links li:nth-child(2) .svg-links {
  width: 22.5px;
}

.page-links li:last-of-type .svg-links {
  width: 37.5px;
}

.page-links li span {
  min-width: max-content;
}

.svg-links {
  width: 22.5px;
  transition: all 0.3s ease;
}

.st0 {
  fill: white;
  transition: all 0.3s ease;
}

.search {
  display: flex;
  align-items: center;
  grid-row: search;
  place-self: center end;
  gap: 0.25rem;
  font-family: myFontRegular;
}

.search > input {
  border: 1px solid rgba(0, 0, 0, 0.26);
  outline: none;
  border-radius: 5px;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 0.2rem;
  font-size: 0.95rem;
}

.search > input:focus {
  border: 1px solid #eda920;
}

.search-btn {
  padding: 0;
  background-color: blueviolet;
  border: none;
  outline: none;
}

.search-icon {
  width: 25px;
  cursor: pointer;
}

.search-icon path {
  transition: all 0.3s ease;
}

.search-icon:hover path {
  fill: #eda920;
}

.search-icon path {
  fill: white;
}

/* HOME PAGE */
main {
  margin-top: 7rem;
  display: flex;
  flex-direction: column;
  font-family: myFontRegular;
  align-items: center;
  width: 100%;
  padding: 0 2rem 2rem 2rem;
}

.first-row {
  display: flex;
  flex-direction: column;
}

.first-row.in-products {
  flex-direction: row;
  justify-content: space-between;
  gap: 1rem;
  align-items: center;
  padding: 0 4rem;
  width: 100%;
}

.first-row h1 {
  font-size: 2.5rem;
  text-align: center;
}

.content {
  display: grid;
  grid-template-columns: max-content min-content;
  width: 70%;
  place-content: center space-evenly;
}

.builds-container {
  place-self: start end;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.builds-container h2 {
  text-align: center;
}

.builds {
  display: flex;
  flex-direction: column;
}

.build-links {
  display: flex;
  justify-content: space-evenly;
  gap: 2rem;
}

.build-links a {
  text-decoration: none;
  color: black;
  transition: all 0.3s ease;
  font-size: 1.25rem;
  font-weight: 400;
}

.build-links a:hover {
  color: #eda920;
}

.build-image {
  width: 550px;
}

.categories-container {
  display: flex;
  flex-direction: column;
  place-self: start center;
  gap: 1rem;
  width: max-content;
  background-color: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0)
  );
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  justify-content: space-between;
  height: 100%;
}

.categories-container h2 {
  text-align: center;
}

.categories {
  display: grid;
  width: 800px;
  grid-template-columns: repeat(auto-fill, minmax(175px, 1fr));
  grid-auto-rows: 175px;
  gap: 1rem;
  padding: 1rem;
}

.category {
  place-self: center;
  display: grid;
  width: 100%;
  place-items: center;
  grid-template-rows: 125px 1fr;
  cursor: pointer;
  transition: all 0.3s ease;
  color: black;
  font-size: 1.25rem;
  font-weight: 400;
  text-decoration: none;
}

.category:hover {
  color: #eda920;
}

.category-image {
  width: 100px;
}

.choose-category-container {
  margin-top: 7.5rem;
  font-family: myFontRegular;
  padding: 2rem;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-self: center;
  align-items: center;
}

/* Add Product Form Styles */

#product-form-header {
  text-align: center;
  margin-top: 10rem;
  font-family: myFontRegular;
}

.product-form {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  width: 50%;
  align-self: center;
  font-family: myFontRegular;
  background-color: rgba(138, 43, 226, 0.1);
  padding: 3rem 1rem;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 3px;
  font-size: 1rem;
}

.product-form input {
  border: 1px solid rgba(0, 0, 0, 0.26);
  border-radius: 5px;
  outline: none;
  padding: 0.25rem;
}

.product-form input:focus {
  border: 1px solid #eda920;
  box-shadow: 3px 3px 10px #6f69694d;
}

.product-form input[type="radio"] {
  filter: hue-rotate(188.5deg);
  cursor: pointer;
}

.product-form input[type="file"] {
  cursor: pointer;
}

.product-form input[type="checkbox"] {
  accent-color: #eda920;
  cursor: pointer;
}

.product-form input[type="radio"]:focus,
.product-form input[type="checkbox"] {
  box-shadow: none;
  border: none;
}

.product-submit {
  width: 100%;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid transparent;
  background-color: rgba(138, 43, 226, 0.45);
  padding: 0.5rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 3px;
}

.product-submit.add {
  width: max-content;
  padding: 0.25rem 0.5rem;
  color: white;
}

.product-submit:hover {
  background-color: rgba(138, 43, 226, 0.3);
  box-shadow: rgba(0, 0, 0, 0.36) 0px 1px 3px;
  border: 1px solid transparent;
}

.input-grouper {
  display: flex;
  width: 100%;
  padding-left: 2.75rem;
  padding-right: 2.75rem;
  justify-content: center;
  gap: 4rem;
}

.label-input-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.label-input-container > input {
  width: 100%;
}

.input-grouper.duo {
  padding: 0 2.75rem;
  gap: 3.9rem;
}

.input-grouper.duo > .label-input-container {
  width: 100%;
}

.input-grouper.fieldset {
  padding: 0 2.75rem;
}

#image {
  padding: 0.23rem 0.5rem;
  border: 1px solid rgba(0, 0, 0, 0.26);
  border-radius: 5px;
}

#name,
#brand {
  width: 100%;
}

.product-fieldset {
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.26);
  border-radius: 5px;
}

.product-fieldset.horizontal {
  display: flex;
  gap: 2rem;
  width: 100%;
}

.product-fieldset.long {
  gap: 1.93rem;
}

.label-input-container.duo {
  width: 100%;

  input {
    width: 100%;
  }
}

#first-word-latency,
#cas-latency {
  width: 100%;
}

.label-input-container.checkbox {
  flex-direction: row;
  align-items: end;
  gap: 1rem;

  input {
    height: min-content;
    width: min-content;
    position: relative;
    top: -4.5px;
  }
}

/* Products Page Styles */

.products-page {
  padding: 0 4rem;
  gap: 2rem;
}

.products-container {
  width: 100%;
  height: max-content;
  display: grid;
  grid-template-columns: 1fr 5fr;
  gap: 1rem;
  border-radius: 1rem;
  /* border: 1px solid rgba(0, 0, 0, 0.144); */
}

.sidebar {
  padding: 1rem;
  /* border-right: 1px solid rgba(0, 0, 0, 0.144); */
  border-radius: 1rem 0 0 1rem;
  background-color: rgba(138, 43, 226, 0.1);
}
.products-content {
  display: flex;
  flex-direction: column;
}

.products {
  padding: 3rem 4rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 6rem;
  width: 100%;
}

.product {
  height: max-content;
  min-width: 256px;
  display: grid;
  grid-template-rows: min-content 1fr;
  box-shadow: lightgray 0px 5px 15px;
  border-radius: 10px;
  transition: all 0.3s ease-out;
}

.product:hover {
  transform: scale(1.01);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 0px 50px 0px;
}

.product-link {
  color: black;
  text-decoration: none;
}

.product-image {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 240px;
}

.product-image img {
  height: 180px;
}

.product-details {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 1rem;
}

.product-name {
  text-align: center;
  font-weight: 600;
}

.price-quantity {
  display: flex;
  justify-content: space-between;
}
