<div class="product-detail">
  <span>Color</span>
  <input type="text" name="color" value="<%= product.details.color %>" required />
</div>
<div class="product-detail">
  <span>Frequency Response</span>
  <input
    type="text"
    name="frequencyResponse"
    value="<%= product.details.frequencyResponse %>"
  required />
</div>
<div class="product-detail">
  <span>Wireless</span>
  <input type="text" name="wireless" value="<%= product.details.wireless %>" required />
</div>
<div class="product-detail">
  <span>Microphone</span>
  <input
    type="text"
    name="microphone"
    value="<%= product.details.microphone %>"
  required />
</div>
