<div class="product-detail">
  <span>Color</span>
  <input
    type="text"
    name="color"
    value="<%= product.details.color %>"
    required
  />
</div>
<div class="product-detail">
  <span>Frequency Response</span>
  <input
    type="text"
    name="frequencyResponse"
    value="<%= product.details.frequencyResponse %>"
    required
  />
</div>
<div class="product-detail">
  <span>Wireless</span>
  <input type="checkbox" id="wireless" <%= product.details.wireless === 'Yes' ?
  'checked' : '' %> name="wireless" />
</div>
<div class="product-detail">
  <span>Microphone</span>
  <input type="checkbox" name="microphone" <%= product.details.microphone ===
  'Yes' ? 'checked' : '' %> required />
</div>
