<div class="product-detail">
  <span>Color</span>
  <input type="text" name="color" value="<%= product.details.color %>" required />
</div>
<div class="product-detail">
  <span>Connection Type</span>
  <input
    type="text"
    name="connectionType"
    value="<%= product.details.connectionType %>"
  required />
</div>
<div class="product-detail">
  <span>Maximum DPI</span>
  <input
    type="text"
    name="maximumDPI"
    value="<%= product.details.maximumDPI %>"
  required />
</div>
<div class="product-detail">
  <span>Hand Orientation</span>
  <input
    type="text"
    name="handOrientation"
    value="<%= product.details.handOrientation %>"
  required />
</div>
