<div class="input-grouper">
  <div class="label-input-container">
    <label for="fan-rpm">Fan RPM (min):</label>
    <input type="number" min="0" id="fan-rpm" name="fanRPMMin" required />
  </div>
  <div class="label-input-container">
    <label for="fan-rpm">Fan RPM (max):</label>
    <input type="number" min="0" id="fan-rpm" name="fanRPMMax" required />
  </div>
</div>
<div class="input-grouper">
  <div class="label-input-container">
    <label for="noise-level-min">Min Noise Level (dB):</label>
    <input
      type="number"
      step=".1"
      min="0"
      id="noise-level-min"
      name="noiseLevelMin"
      required
    />
  </div>
  <div class="label-input-container">
    <label for="noise-level-max">Max Noise Level (dB):</label>
    <input
      type="number"
      step=".1"
      min="0"
      id="noise-level-max"
      name="noiseLevelMax"
      required
    />
  </div>
</div>
<div class="input-grouper">
  <fieldset class="product-fieldset">
    <legend>Radiator Size (mm):</legend>
    <div>
      <input type="radio" id="240" name="radiatorSize" value="240" required />
      <label for="240">240</label>
    </div>
    <div>
      <input type="radio" id="360" name="radiatorSize" value="360" />
      <label for="360">360</label>
    </div>
    <div>
      <input type="radio" id="420" name="radiatorSize" value="420" />
      <label for="420">420</label>
    </div>
    <div>
      <input type="radio" id="none" name="radiatorSize" value="None" />
      <label for="none">None</label>
    </div>
  </fieldset>
  <div class="label-input-container">
    <label for="color">Color:</label>
    <input type="text" id="color" name="color" required />
  </div>
</div>
