<div class="label-input-container">
  <label for="frequency-response">Frequency Response:</label>
  <input
    type="text"
    id="frequency-response"
    name="frequencyResponse"
    required
  />
</div>
<div class="label-input-container">
  <label for="microphone">Microphone:</label>
  <input type="checkbox" id="microphone" name="microphone" required />
</div>
<div class="label-input-container">
  <label for="wireless">Wireless:</label>
  <input type="checkbox" id="wireless" name="wireless" required />
</div>
<div class="label-input-container">
  <label for="color">Color:</label>
  <input type="text" id="color" name="color" required />
</div>
