<div class="input-grouper duo">
  <div class="label-input-container duo">
    <label for="frequency-response">Frequency Response (Hz - kHz):</label>
    <input
      type="text"
      id="frequency-response"
      name="frequencyResponse"
      required
    />
  </div>
  <div class="label-input-container duo">
    <label for="color">Color:</label>
    <input type="text" id="color" name="color" required />
  </div>
</div>
<div class="input-grouper duo">
  <div class="label-input-container checkbox">
    <input type="checkbox" id="wireless" name="wireless" />
    <label for="wireless">Wireless</label>
  </div>
  <div class="label-input-container checkbox">
    <input type="checkbox" id="microphone" name="microphone" />
    <label for="microphone">Microphone</label>
  </div>
</div>
