<div class="input-grouper duo">
  <div class="label-input-container duo">
    <label for="switch-type">Switch Type:</label>
    <input type="text" id="switch-type" name="switchType" />
  </div>
  <div class="label-input-container duo">
    <label for="backlit">Backlit:</label>
    <input type="text" id="backlit" name="backlit" required />
  </div>
</div>
<div class="input-grouper duo">
  <fieldset class="product-fieldset horizontal">
    <legend>Style:</legend>
    <div>
      <input type="radio" id="gaming" name="style" value=Gaming" required />
      <label for="gaming">Gaming</label>
    </div>
    <div>
      <input type="radio" id="mini" name="style" value="Mini" />
      <label for="mini">Mini</label>
    </div>
    <div>
      <input type="radio" id="standard" name="style" value="Standard" />
      <label for="standard">Standard</label>
    </div>
    <div>
      <input type="radio" id="slim" name="style" value="Slim" />
      <label for="slim">Slim</label>
    </div>
  </fieldset>
  <fieldset class="product-fieldset horizontal long">
    <legend>Connection Type:</legend>
    <div>
      <input
        type="checkbox"
        id="wired"
        name="connectionType"
        value="Wired"
        required
      />
      <label for="wired">Wired</label>
    </div>
    <div>
      <input
        type="checkbox"
        id="wireless"
        name="connectionType"
        value="Wireless"
      />
      <label for="wireless">Wireless</label>
    </div>
    <div>
      <input
        type="checkbox"
        id="bluetooth-wireless"
        name="connectionType"
        value="Bluetooth Wireless"
      />
      <label for="bluetooth-wireless">Bluetooth Wireless</label>
    </div>
  </fieldset>
</div>
<div class="input-grouper duo">
  <div class="label-input-container checkbox">
    <input type="checkbox" id="tenkeyless" name="tenkeyless" />
    <label for="tenkeyless">Tenkeyless</label>
  </div>
  <div class="label-input-container duo">
    <label for="color">Color:</label>
    <input type="text" id="color" name="color" required />
  </div>
</div>
