<div class="input-grouper">
  <fieldset class="product-fieldset">
    <legend>Socket:</legend>
    <div>
      <input type="radio" id="AM5" name="socket" value="AM5" required />
      <label for="AM5">AM5</label>
    </div>
    <div>
      <input type="radio" id="AM4" name="socket" value="AM4" />
      <label for="AM4">AM4</label>
    </div>
    <div>
      <input type="radio" id="LGA1700" name="socket" value="LGA1700" />
      <label for="LGA1700">LGA1700</label>
    </div>
  </fieldset>
  <fieldset class="product-fieldset">
    <legend>Form Factor:</legend>
    <div>
      <input type="radio" id="ATX" name="formFactor" value="ATX" required />
      <label for="ATX">ATX</label>
    </div>
    <div>
      <input type="radio" id="Micro-ATX" name="formFactor" value="Micro ATX" />
      <label for="Micro-ATX">Micro ATX</label>
    </div>
    <div>
      <input type="radio" id="Mini-ITX" name="formFactor" value="Mini-ITX" />
      <label for="Mini-ITX">Mini ITX</label>
    </div>
    <div>
      <input type="radio" id="EATX" name="formFactor" value="EATX" />
      <label for="EATX">EATX</label>
    </div>
  </fieldset>
  <fieldset class="product-fieldset">
    <legend>Memory Max (GB):</legend>
    <div>
      <input type="radio" id="64" name="memoryMax" value="64" required />
      <label for="64">64</label>
    </div>
    <div>
      <input type="radio" id="128" name="memoryMax" value="128" />
      <label for="128">128</label>
    </div>
    <div>
      <input type="radio" id="192" name="memoryMax" value="192" />
      <label for="192">192</label>
    </div>
    <div>
      <input type="radio" id="256" name="memoryMax" value="256" />
      <label for="256">256</label>
    </div>
  </fieldset>
</div>
<div class="input-grouper duo">
  <fieldset class="product-fieldset horizontal">
    <legend>Memory Slots:</legend>
    <div>
      <input type="radio" id="2" name="memorySlots" value="2" required />
      <label for="2">2</label>
    </div>
    <div>
      <input type="radio" id="4" name="memorySlots" value="4" />
      <label for="4">4</label>
    </div>
    <div>
      <input type="radio" id="8" name="memorySlots" value="8" />
      <label for="8">8</label>
    </div>
  </fieldset>
  <div class="label-input-container duo">
    <label for="color">Color:</label>
    <input type="text" id="color" name="color" required />
  </div>
</div>
