<div class="input-grouper duo">
  <div class="label-input-container duo">
    <label for="maximum-dpi">Maximum DPI:</label>
    <input
      type="number"
      step="100"
      id="maximum-dpi"
      name="maximumDPI"
      required
    />
  </div>
  <div class="label-input-container duo">
    <label for="color">Color:</label>
    <input type="text" id="color" name="color" required />
  </div>
</div>
<div class="input-grouper duo">
  <fieldset class="product-fieldset horizontal">
    <legend>Hand Orientation:</legend>
    <div>
      <input type="radio" id="right" name="handOrientation" value="right" required />
      <label for="right">Right</label>
    </div>
    <div>
      <input type="radio" id="both" name="handOrientation" value="both" />
      <label for="both">Both</label>
    </div>
  </fieldset>
  <fieldset class="product-fieldset horizontal long">
    <legend>Connection Type:</legend>
    <div>
      <input type="checkbox" id="wired" name="connectionType" value="wired" required />
      <label for="wired">Wired</label>
    </div>
    <div>
      <input
        type="checkbox"
        id="wireless"
        name="connectionType"
        value="wireless"
      />
      <label for="wireless">Wireless</label>
    </div>
    <div>
      <input
        type="checkbox"
        id="bluetooth-wireless"
        name="connectionType"
        value="Bluetooth Wireless"
      />
      <label for="bluetooth-wireless">Bluetooth Wireless</label>
    </div>
  </fieldset>
</div>
