<div class="input-grouper">
  <fieldset class="product-fieldset">
    <legend>Type:</legend>
    <div>
      <input type="radio" id="ATX" name="type" value="ATX" required />
      <label for="ATX">ATX</label>
    </div>
    <div>
      <input type="radio" id="SFX" name="type" value="SFX" />
      <label for="SFX">SFX</label>
    </div>
  </fieldset>
  <fieldset class="product-fieldset">
    <legend>Efficiency Rating (80+):</legend>
    <div>
      <input type="radio" id="Gold" name="efficiencyRating" value="Gold" required/>
      <label for="Gold">Gold</label>
    </div>
    <div>
      <input type="radio" id="Bronze" name="efficiencyRating" value="Bronze" />
      <label for="Bronze">Bronze</label>
    </div>
    <div>
      <input type="radio" id="Platinum" name="efficiencyRating" value="Platinum" />
      <label for="Platinum">Platinum</label>
    </div>
    <div>
      <input type="radio" id="Titanium" name="efficiencyRating" value="Titanium" />
      <label for="Titanium">Titanium</label>
    </div>
  </fieldset>
</div>
<div class="input-grouper">
  <fieldset class="product-fieldset">
    <legend>Modular:</legend>
    <div>
      <input type="radio" id="Full" name="modular" value="Full" required />
      <label for="Full">Full</label>
    </div>
    <div>
      <input type="radio" id="No" name="modular" value="No" />
      <label for="No">No</label>
    </div>
    <div>
      <input type="radio" id="Semi" name="modular" value="Semi" />
      <label for="Semi">Semi</label>
    </div>
  </fieldset>
  <div class="label-input-container">
    <label for="wattage">Wattage:</label>
    <input type="number" min="0" id="wattage" name="wattage" required />
  </div>
</div>
<div class="input-grouper">
  <div class="label-input-container">
    <label for="color">Color:</label>
    <input type="text" id="color" name="color" required />
  </div>
</div>