<div class="input-grouper">
  <div class="label-input-container">
    <label for="capacity">Capacity (TB):</label>
    <input type="number" min="0" id="capacity" name="capacity" required />
  </div>
  <div class="label-input-container">
    <label for="cache">Cache (MB):</label>
    <input type="number" min="0" id="cache" name="cache" />
  </div>
</div>
<div class="input-grouper">
  <div class="label-input-container">
    <label for="type">Type:</label>
    <input type="text" id="type" name="type" required />
  </div>
  <fieldset class="product-fieldset">
    <legend>Form Factor:</legend>
    <div>
      <input
        type="radio"
        id="M.2-2280"
        name="formFactor"
        value="M.2-2280"
        required
      />
      <label for="M.2-2280">M.2-2280</label>
    </div>
    <div>
      <input type="radio" id='3.5"' name="formFactor" value='3.5"' />
      <label for='3.5"'>3.5"</label>
    </div>
    <div>
      <input type="radio" id='2.5"' name="formFactor" value='2.5"' />
      <label for='2.5"'>2.5"</label>
    </div>
    <div>
      <input type="radio" id="PCIe" name="formFactor" value="PCIe" />
      <label for="PCIe">PCIe</label>
    </div>
  </fieldset>
</div>
<div class="input-grouper">
  <div class="label-input-container duo">
    <label for="interface">Interface:</label>
    <input type="text" id="interface" name="interface" required />
  </div>
</div>
