<div class="input-grouper">
  <div class="label-input-container">
    <label for="chipset">Chipset:</label>
    <input type="text" id="chipset" name="chipset" required />
  </div>
  <div class="label-input-container">
    <label for="memory">Memory:</label>
    <input type="number" min="0" id="memory" name="memory" required />
  </div>
  <div class="label-input-container">
    <label for="core-clock">Core Clock:</label>
    <input type="number" min="0" id="core-clock" name="coreClock" required />
  </div>
</div>
<div class="input-grouper">
  <div class="label-input-container">
    <label for="boost-clock">Boost Clock:</label>
    <input type="number" min="0" id="boost-count" name="boostClock" />
  </div>
  <div class="label-input-container">
    <label for="color">Color:</label>
    <input type="text" id="color" name="color" required />
  </div>
  <div class="label-input-container">
    <label for="length">Length:</label>
    <input type="number" min="0" id="length" name="length" required />
  </div>
</div>
