<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/styles.css" />
    <title>bitStock</title>
  </head>
  <body>
    <%- include("../components/header") %>
    <main class="products-page">
      <div class="first-row in-products">
        <h1>Choose a <%= getCategory(buildPart) %></h1>
        <button class="product-submit add" onclick="goBack()">
          << Return to Builder
        </button>
      </div>
      <div class="search-items-container choose">
        <% products.forEach(product => { %> <%- include("../products/product",
        {product: product, brandImage: brandImage, pageState: "choose"}) %> <%
        }) %>
      </div>
    </main>
    <script>
      function goBack() {
        window.history.back();
      }
    </script>
  </body>
</html>
