<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/bootstrap.css" />
    <link rel="stylesheet" href="../static/styles.css" />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="../static/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="../static/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="../static/favicon-16x16.png"
    />
    <link rel="manifest" href="../static/site.webmanifest" />
    <title>bitStock</title>
  </head>
  <body>
    <%- include("../components/header") %>
    <main
      aria-labelledby="category-heading"
      class="choose-category-container"
    >
      <h1 id="category-heading">Choose a Category</h1>
      <section aria-label="Product categories" class="categories">
        <a href="/products/cpu/new" class="category">
          <img
            src="../static/cpu-1.png"
            aria-hidden="true"
            alt=""
            class="category-image"
          />
          <p>CPUs</p>
        </a>
        <a href="/products/cpu-cooler/new" class="category">
          <img
            src="../static/cpu-cooler-3.png"
            aria-hidden="true"
            alt=""
            class="category-image"
          />
          <p>CPU Coolers</p>
        </a>
        <a href="/products/motherboard/new" class="category">
          <img
            src="../static/mb-3.png"
            aria-hidden="true"
            alt=""
            class="category-image"
          />
          <p>Motherboards</p>
        </a>
        <a href="/products/memory/new" class="category">
          <img
            src="../static/memory-1.png"
            aria-hidden="true"
            alt=""
            class="category-image"
          />
          <p>Memory</p>
        </a>
        <a href="/products/storage/new" class="category">
          <img
            src="../static/storage-2.png"
            aria-hidden="true"
            alt=""
            class="category-image"
          />
          <p>Storage</p>
        </a>
        <a href="/products/video-card/new" class="category">
          <img
            src="../static/video-card-3.png"
            aria-hidden="true"
            alt=""
            class="category-image"
          />
          <p>Video Card</p>
        </a>
        <a href="/products/power-supply/new" class="category">
          <img
            src="../static/psu-2.png"
            aria-hidden="true"
            alt=""
            class="category-image"
          />
          <p>Power Supplies</p>
        </a>
        <a href="/products/case/new" class="category">
          <img
            src="../static/case-1.png"
            aria-hidden="true"
            alt=""
            class="category-image"
          />
          <p>Cases</p>
        </a>
        <a href="/products/monitor/new" class="category">
          <img
            src="../static/monitor-1.png"
            aria-hidden="true"
            alt=""
            class="category-image"
          />
          <p>Monitors</p>
        </a>
        <a href="/products/headphones/new" class="category">
          <img
            src="../static/headphones-1.png"
            aria-hidden="true"
            alt=""
            class="category-image"
          />
          <p>Headphones</p>
        </a>
        <a href="/products/keyboard/new" class="category">
          <img
            src="../static/kb-2.png"
            aria-hidden="true"
            alt=""
            class="category-image"
          />
          <p>Keyboards</p>
        </a>
        <a href="/products/mouse/new" class="category">
          <img
            src="../static/mouse-1.png"
            aria-hidden="true"
            alt=""
            class="category-image"
          />
          <p>Mice</p>
        </a>
      </section>
    </main>
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
