<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../styles.css" />
    <title>bitStock</title>
  </head>
  <body>
    <%- include("../components/header") %>
    <div class="choose-category-container">
      <h1>Choose a Category</h1>
      <div class="categories">
        <a href="/products/cpu/new" class="category">
          <img src="../cpu-1.png" alt="An image of a cpu" class="category-image" />
          <p>CPUs</p>
        </a>
        <a href="/products/cpu-cooler/new" class="category">
          <img
            src="../cpu-cooler-3.png"
            alt="An image of a cpu cooler"
            class="category-image"
          />
          <p>CPU Coolers</p>
        </a>
        <a href="/products/motherboard/new" class="category">
          <img
            src="../mb-3.png"
            alt="An image of a motherboard"
            class="category-image"
          />
          <p>Motherboards</p>
        </a>
        <a href="/products/memory/new" class="category">
          <img
            src="../memory-1.png"
            alt="An image of a ram"
            class="category-image"
          />
          <p>Memory</p>
        </a>
        <a href="/products/storage/new" class="category">
          <img
            src="../storage-2.png"
            alt="An image of a ssd"
            class="category-image"
          />
          <p>Storage</p>
        </a>
        <a href="/products/video-card/new" class="category">
          <img
            src="../video-card-3.png"
            alt="An image of a GPU"
            class="category-image"
          />
          <p>Video Card</p>
        </a>
        <a href="/products/power-supply/new" class="category">
          <img
            src="../psu-2.png"
            alt="An image of a power supply"
            class="category-image"
          />
          <p>Power Supplies</p>
        </a>
        <a href="/products/case/new" class="category">
          <img
            src="../case-1.png"
            alt="An image of cases"
            class="category-image"
          />
          <p>Cases</p>
        </a>
        <a href="/products/monitor/new" class="category">
          <img
            src="../monitor-1.png"
            alt="An image of a monitor"
            class="category-image"
          />
          <p>Monitors</p>
        </a>
        <a href="/products/headphones/new" class="category">
          <img
            src="../headphones-1.png"
            alt="An image of a headphone"
            class="category-image"
          />
          <p>Headphones</p>
        </a>
        <a href="/products/keyboard/new" class="category">
          <img
            src="../kb-2.png"
            alt="An image of a keyboard"
            class="category-image"
          />
          <p>Keyboards</p>
        </a>
        <a href="/products/mouse/new" class="category">
          <img
            src="../mouse-1.png"
            alt="An image of a mouse"
            class="category-image"
          />
          <p>Mice</p>
        </a>
      </div>
    </div>
  </body>
</html>
