<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/styles.css" />
    <title>bitStock</title>
  </head>
  <body>
    <%- include("../components/header") %>
    <main class="products-page">
      <div class="first-row in-products">
        <h1>Search results for "<%= search %>"</h1>
        <a href="/products">
          <button class="product-submit add"><< Return to Products</button>
        </a>
      </div>
      <div class="search-products-container">
        <% products.forEach(product => { %> <%- include("product", {product:
        product, brandImage: brandImage}) %> <% }) %>
      </div>
    </main>
  </body>
</html>
